
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Trois-Pistoles, Bas-Saint-Laurent, 435, Rue  B&#xE9;langer, 22621327 - Centris.ca" itemprop="name" />
        <meta content="22621327" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~trois-pistoles/22621327?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCEBD9A4DDDDDDDDDDA&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Trois-Pistoles, Bas-Saint-Laurent, 435, Rue  B&#xE9;langer, 22621327 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(22621327, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,22621327,true, &#x27;999&#x27;)" title="Afficher les photos">
                    32<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~trois-pistoles/22621327?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='22621327'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">22621327</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="199000" />
                <span>199&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>435, Rue  B&#xE9;langer</div>
                        <div>Trois-Pistoles</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="22621327" data-lat="48.130897" data-lng="-69.162869"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="22621327" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Quintuplex &#xE0; vendre &#xE0; Montr&#xE9;al (Saint-L&#xE9;onard), Montr&#xE9;al (&#xCE;le), 5100 - 5106A, Rue  Ragueneau, 25345612 - Centris.ca" itemprop="name" />
        <meta content="25345612" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/quintuplex~a-vendre~montreal-saint-leonard/25345612?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCDA6A4DDDDDDDDDD0&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Quintuplex &#xE0; vendre &#xE0; Montr&#xE9;al (Saint-L&#xE9;onard), Montr&#xE9;al (&#xCE;le), 5100 - 5106A, Rue  Ragueneau, 25345612 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(25345612, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,25345612,true, &#x27;999&#x27;)" title="Afficher les photos">
                    5<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/quintuplex~a-vendre~montreal-saint-leonard/25345612?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='25345612'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">25345612</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1290000" />
                <span>1&#xA0;290&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Quintuplex &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>5100 - 5106A, Rue  Ragueneau</div>
                        <div>Montr&#xE9;al (Saint-L&#xE9;onard)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
            <div class="plex-revenue">
                <span>Rev. bruts pot. : 68 280 $</span>
            </div>
<div class='cac'>3</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="25345612" data-lat="45.589348" data-lng="-73.611434"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="25345612" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Beaconsfield, Montr&#xE9;al (&#xCE;le), 80, Avenue  Jasper, 14565226 - Centris.ca" itemprop="name" />
        <meta content="14565226" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~beaconsfield/14565226?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCCFAFFDDDDDDDDDDB&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Beaconsfield, Montr&#xE9;al (&#xCE;le), 80, Avenue  Jasper, 14565226 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('14565226', 'Gallery');Centris.OpenNewWindow('https://vimeo.com/735153949');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(14565226, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,14565226,true, &#x27;999&#x27;)" title="Afficher les photos">
                    17<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~beaconsfield/14565226?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='14565226'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">14565226</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="749000" />
                <span>749&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>80, Avenue  Jasper</div>
                        <div>Beaconsfield</div>
                        <div>Quartier Sud Est</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="14565226" data-lat="45.433144" data-lng="-73.834207"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="14565226" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saint-Hippolyte, Laurentides, 132, Rue du Monarque, 12479284 - Centris.ca" itemprop="name" />
        <meta content="12479284" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saint-hippolyte/12479284?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCEDBB04DDDDDDDDDD0&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saint-Hippolyte, Laurentides, 132, Rue du Monarque, 12479284 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(12479284, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,12479284,true, &#x27;999&#x27;)" title="Afficher les photos">
                    26<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saint-hippolyte/12479284?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='12479284'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">12479284</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="521766" />
                <span>521&#xA0;766 $</span><span class="desc"> &#x2B;TPS/TVQ</span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>132, Rue du Monarque</div>
                        <div>Saint-Hippolyte</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="12479284" data-lat="45.87672108" data-lng="-73.97921475"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="12479284" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Sainte-Marthe-sur-le-Lac, Laurentides, 329, Rue des Cerisiers, 26111295 - Centris.ca" itemprop="name" />
        <meta content="26111295" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~sainte-marthe-sur-le-lac/26111295?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCF5933DDDDDDDDDDF&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Sainte-Marthe-sur-le-Lac, Laurentides, 329, Rue des Cerisiers, 26111295 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(26111295, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,26111295,true, &#x27;999&#x27;)" title="Afficher les photos">
                    34<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~sainte-marthe-sur-le-lac/26111295?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='26111295'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">26111295</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="475000" />
                <span>475&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>329, Rue des Cerisiers</div>
                        <div>Sainte-Marthe-sur-le-Lac</div>
                        <div>Quartier Nord</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="26111295" data-lat="45.535521" data-lng="-73.949738"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="26111295" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Terrain &#xE0; vendre &#xE0; Chertsey, Lanaudi&#xE8;re, Rue des Gen&#xE9;vriers, 13215585 - Centris.ca" itemprop="name" />
        <meta content="13215585" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/terrain~a-vendre~chertsey/13215585?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250D2686FBADDDDDDDDDDD&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Terrain &#xE0; vendre &#xE0; Chertsey, Lanaudi&#xE8;re, Rue des Gen&#xE9;vriers, 13215585 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(13215585, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,13215585,true, &#x27;999&#x27;)" title="Afficher les photos">
                    3<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/terrain~a-vendre~chertsey/13215585?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='13215585'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">13215585</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="29000" />
                <span>29&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Terrain &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>Rue des Gen&#xE9;vriers</div>
                        <div>Chertsey</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
                <div class="land-area">
                    <span>19 999 pc</span>
                </div>
</div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="13215585" data-lat="46.15143635" data-lng="-73.91359856"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="13215585" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Saint-Laurent), Montr&#xE9;al (&#xCE;le), 2318, Rue  Harriet-Quimby, 22428912 - Centris.ca" itemprop="name" />
        <meta content="22428912" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/condo~a-vendre~montreal-saint-laurent/22428912?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC2A2892DDDDDDDDDD0&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Saint-Laurent), Montr&#xE9;al (&#xCE;le), 2318, Rue  Harriet-Quimby, 22428912 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(22428912, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,22428912,true, &#x27;999&#x27;)" title="Afficher les photos">
                    23<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/condo~a-vendre~montreal-saint-laurent/22428912?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='22428912'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">22428912</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="579000" />
                <span>579&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Condo &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>2318, Rue  Harriet-Quimby</div>
                        <div>Montr&#xE9;al (Saint-Laurent)</div>
                        <div>Quartier Nouveau Saint-Laurent/Bois-Franc</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="22428912" data-lat="45.51343778" data-lng="-73.70843008"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="22428912" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Condo &#xE0; vendre &#xE0; Brossard, Mont&#xE9;r&#xE9;gie, 4500, Rue de Lombardie, app. 2, 14674986 - Centris.ca" itemprop="name" />
        <meta content="14674986" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/condo~a-vendre~brossard/14674986?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCC60AF5DDDDDDDDDDA&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Condo &#xE0; vendre &#xE0; Brossard, Mont&#xE9;r&#xE9;gie, 4500, Rue de Lombardie, app. 2, 14674986 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(14674986, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,14674986,true, &#x27;999&#x27;)" title="Afficher les photos">
                    30<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/condo~a-vendre~brossard/14674986?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='14674986'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">14674986</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="648000" />
                <span>648&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Condo &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>4500, Rue de Lombardie, app. 2</div>
                        <div>Brossard</div>
                        <div>Quartier Noms de rues (L)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="14674986" data-lat="45.437663" data-lng="-73.457048"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="14674986" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Brossard, Mont&#xE9;r&#xE9;gie, 8010, boulevard  Pelletier, 28509615 - Centris.ca" itemprop="name" />
        <meta content="28509615" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~brossard/28509615?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCFCC39DDDDDDDDDDA&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Brossard, Mont&#xE9;r&#xE9;gie, 8010, boulevard  Pelletier, 28509615 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(28509615, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,28509615,true, &#x27;999&#x27;)" title="Afficher les photos">
                    21<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~brossard/28509615?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='28509615'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">28509615</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="859000" />
                <span>859&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>8010, boulevard  Pelletier</div>
                        <div>Brossard</div>
                        <div>Quartier Noms de rues (S)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>3</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="28509615" data-lat="45.45411961" data-lng="-73.47987491"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="28509615" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saint-Damien-de-Buckland, Chaudi&#xE8;re-Appalaches, 48, Route  Saint-G&#xE9;rard, 18591011 - Centris.ca" itemprop="name" />
        <meta content="18591011" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saint-damien-de-buckland/18591011?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCE0A8D1DDDDDDDDDD2&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saint-Damien-de-Buckland, Chaudi&#xE8;re-Appalaches, 48, Route  Saint-G&#xE9;rard, 18591011 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(18591011, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,18591011,true, &#x27;999&#x27;)" title="Afficher les photos">
                    17<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saint-damien-de-buckland/18591011?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='18591011'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">18591011</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="109500" />
                <span>109&#xA0;500 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>48, Route  Saint-G&#xE9;rard</div>
                        <div>Saint-Damien-de-Buckland</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="18591011" data-lat="46.625412" data-lng="-70.661881"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="18591011" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; La Minerve, Laurentides, 27, Chemin  Miller, 9133996 - Centris.ca" itemprop="name" />
        <meta content="9133996" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~la-minerve/9133996?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC477411DDDDDDDDDD1&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; La Minerve, Laurentides, 27, Chemin  Miller, 9133996 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('9133996', 'Gallery');Centris.OpenNewWindow('https://www.youtube.com/watch?v=Iobx1JCFEmY&authuser=0');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(9133996, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,9133996,true, &#x27;999&#x27;)" title="Afficher les photos">
                    60<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~la-minerve/9133996?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='9133996'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">9133996</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1400000" />
                <span>1&#xA0;400&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>27, Chemin  Miller</div>
                        <div>La Minerve</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>3</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="9133996" data-lat="46.232377" data-lng="-74.927324"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="9133996" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Laval (Laval-sur-le-Lac), Laval, 489, Rue les &#xC9;rables, 21388690 - Centris.ca" itemprop="name" />
        <meta content="21388690" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~laval-laval-sur-le-lac/21388690?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCC4C3ADDDDDDDDDD0&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Laval (Laval-sur-le-Lac), Laval, 489, Rue les &#xC9;rables, 21388690 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('21388690', 'Gallery');Centris.OpenNewWindow('https://www.youtube.com/watch?v=oI55ClUH7i4');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(21388690, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,21388690,true, &#x27;999&#x27;)" title="Afficher les photos">
                    39<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~laval-laval-sur-le-lac/21388690?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='21388690'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">21388690</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="10500000" />
                <span>10&#xA0;500&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>489, Rue les &#xC9;rables</div>
                        <div>Laval (Laval-sur-le-Lac)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>5</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="21388690" data-lat="45.527306" data-lng="-73.884112"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="21388690" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Terrebonne (Terrebonne), Lanaudi&#xE8;re, 719, Rue du Rubis, 17388823 - Centris.ca" itemprop="name" />
        <meta content="17388823" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~terrebonne-terrebonne/17388823?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCEBAB71DDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Terrebonne (Terrebonne), Lanaudi&#xE8;re, 719, Rue du Rubis, 17388823 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('17388823', 'Gallery');Centris.OpenNewWindow('https://tour.bonnevisite.com/public/vtour/display/2055348?idx=1&pws=1#!/');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(17388823, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,17388823,true, &#x27;999&#x27;)" title="Afficher les photos">
                    33<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~terrebonne-terrebonne/17388823?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='17388823'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">17388823</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="849000" />
                <span>849&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>719, Rue du Rubis</div>
                        <div>Terrebonne (Terrebonne)</div>
                        <div>Quartier Saint-Louis/Hauteville</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>5</div><div class='sdb'>4</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="17388823" data-lat="45.706839" data-lng="-73.67853"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="17388823" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saint-Jean-sur-Richelieu, Mont&#xE9;r&#xE9;gie, 1298, Rue des Roches, 24725278 - Centris.ca" itemprop="name" />
        <meta content="24725278" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saint-jean-sur-richelieu/24725278?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC2B1252DDDDDDDDDDA&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saint-Jean-sur-Richelieu, Mont&#xE9;r&#xE9;gie, 1298, Rue des Roches, 24725278 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(24725278, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,24725278,true, &#x27;999&#x27;)" title="Afficher les photos">
                    33<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saint-jean-sur-richelieu/24725278?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='24725278'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">24725278</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="629900" />
                <span>629&#xA0;900 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>1298, Rue des Roches</div>
                        <div>Saint-Jean-sur-Richelieu</div>
                        <div>Quartier Saint-Luc</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>5</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="24725278" data-lat="45.38626204" data-lng="-73.37720537"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="24725278" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Packington, Bas-Saint-Laurent, 45, Rue  Principale, 20282608 - Centris.ca" itemprop="name" />
        <meta content="20282608" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~packington/20282608?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250D25DC705DDDDDDDDDDB&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Packington, Bas-Saint-Laurent, 45, Rue  Principale, 20282608 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(20282608, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,20282608,true, &#x27;999&#x27;)" title="Afficher les photos">
                    22<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~packington/20282608?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='20282608'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">20282608</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="49500" />
                <span>49&#xA0;500 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>45, Rue  Principale</div>
                        <div>Packington</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="20282608" data-lat="47.48886351" data-lng="-68.78587848"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="20282608" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Duplex &#xE0; vendre &#xE0; Lachute, Laurentides, 43 - 43A, Rue  Hammond, 22795991 - Centris.ca" itemprop="name" />
        <meta content="22795991" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/duplex~a-vendre~lachute/22795991?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC160059DDDDDDDDDD2&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Duplex &#xE0; vendre &#xE0; Lachute, Laurentides, 43 - 43A, Rue  Hammond, 22795991 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(22795991, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,22795991,true, &#x27;999&#x27;)" title="Afficher les photos">
                    23<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/duplex~a-vendre~lachute/22795991?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='22795991'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">22795991</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="224900" />
                <span>224&#xA0;900 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Duplex &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>43 - 43A, Rue  Hammond</div>
                        <div>Lachute</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
            <div class="plex-revenue">
                <span>Rev. bruts pot. : 10 920 $</span>
            </div>
<div class='cac'>2</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="22795991" data-lat="45.6477565" data-lng="-74.35421335"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="22795991" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Sainte-Catherine-de-la-Jacques-Cartier, Capitale-Nationale, 27, Rue de la Tourbi&#xE8;re, 15762163 - Centris.ca" itemprop="name" />
        <meta content="15762163" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~sainte-catherine-de-la-jacques-cartier/15762163?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCE94D97DDDDDDDDDDF&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Sainte-Catherine-de-la-Jacques-Cartier, Capitale-Nationale, 27, Rue de la Tourbi&#xE8;re, 15762163 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(15762163, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,15762163,true, &#x27;999&#x27;)" title="Afficher les photos">
                    29<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~sainte-catherine-de-la-jacques-cartier/15762163?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='15762163'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">15762163</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="435850" />
                <span>435&#xA0;850 $</span><span class="desc"> &#x2B;TPS/TVQ</span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>27, Rue de la Tourbi&#xE8;re</div>
                        <div>Sainte-Catherine-de-la-Jacques-Cartier</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="15762163" data-lat="46.83958503" data-lng="-71.59745191"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="15762163" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Terrain &#xE0; vendre &#xE0; Sainte-Marguerite-du-Lac-Masson, Laurentides, 69, Rue  Bor&#xE9;ale, 20088897 - Centris.ca" itemprop="name" />
        <meta content="20088897" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/terrain~a-vendre~sainte-marguerite-du-lac-masson/20088897?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCE97228DDDDDDDDDD4&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Terrain &#xE0; vendre &#xE0; Sainte-Marguerite-du-Lac-Masson, Laurentides, 69, Rue  Bor&#xE9;ale, 20088897 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(20088897, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,20088897,true, &#x27;999&#x27;)" title="Afficher les photos">
                    18<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/terrain~a-vendre~sainte-marguerite-du-lac-masson/20088897?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='20088897'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">20088897</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="148888" />
                <span>148&#xA0;888 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Terrain &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>69, Rue  Bor&#xE9;ale</div>
                        <div>Sainte-Marguerite-du-Lac-Masson</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
                <div class="land-area">
                    <span>46 038 pc</span>
                </div>
</div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="20088897" data-lat="46.01339856" data-lng="-74.08010427"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="20088897" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison mobile &#xE0; vendre &#xE0; Port-Cartier, C&#xF4;te-Nord, 1962, Route  Jacques-Cartier, 16614041 - Centris.ca" itemprop="name" />
        <meta content="16614041" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison-mobile~a-vendre~port-cartier/16614041?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC23E866DDDDDDDDDDA&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison mobile &#xE0; vendre &#xE0; Port-Cartier, C&#xF4;te-Nord, 1962, Route  Jacques-Cartier, 16614041 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(16614041, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,16614041,true, &#x27;999&#x27;)" title="Afficher les photos">
                    28<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison-mobile~a-vendre~port-cartier/16614041?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='16614041'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">16614041</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="55000" />
                <span>55&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison mobile &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>1962, Route  Jacques-Cartier</div>
                        <div>Port-Cartier</div>
                        <div>Quartier Pointe-aux-Anglais</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="16614041" data-lat="49.671975" data-lng="-67.16941"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="16614041" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Condo &#xE0; vendre &#xE0; Repentigny (Le Gardeur), Lanaudi&#xE8;re, 123, boulevard  Lacombe, app. 204, 14944166 - Centris.ca" itemprop="name" />
        <meta content="14944166" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/condo~a-vendre~repentigny-le-gardeur/14944166?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCF5650DDDDDDDDDD1&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Condo &#xE0; vendre &#xE0; Repentigny (Le Gardeur), Lanaudi&#xE8;re, 123, boulevard  Lacombe, app. 204, 14944166 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(14944166, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,14944166,true, &#x27;999&#x27;)" title="Afficher les photos">
                    16<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/condo~a-vendre~repentigny-le-gardeur/14944166?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='14944166'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">14944166</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="294900" />
                <span>294&#xA0;900 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Condo &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>123, boulevard  Lacombe, app. 204</div>
                        <div>Repentigny (Le Gardeur)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="14944166" data-lat="45.74128" data-lng="-73.482322"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="14944166" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>


        </div>
    </div>
