
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Triplex &#xE0; vendre &#xE0; Montr&#xE9;al (Villeray/Saint-Michel/Parc-Extension), Montr&#xE9;al (&#xCE;le), 8412A - 8414, boulevard Saint-Michel, 12821612 - Centris.ca" itemprop="name" />
        <meta content="12821612" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/triplex~a-vendre~montreal-villeray-saint-michel-parc-extension/12821612?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCB4F64DDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Triplex &#xE0; vendre &#xE0; Montr&#xE9;al (Villeray/Saint-Michel/Parc-Extension), Montr&#xE9;al (&#xCE;le), 8412A - 8414, boulevard Saint-Michel, 12821612 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(12821612, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,12821612,true, &#x27;999&#x27;)" title="Afficher les photos">
                    1<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/triplex~a-vendre~montreal-villeray-saint-michel-parc-extension/12821612?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='12821612'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">12821612</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="659000" />
                <span>659&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Triplex &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>8412A - 8414, boulevard Saint-Michel</div>
                        <div>Montr&#xE9;al (Villeray/Saint-Michel/Parc-Extension)</div>
                        <div>Quartier Saint-Michel</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
            <div class="plex-revenue">
                <span>Rev. bruts pot. : 22 800 $</span>
            </div>
<div class='cac'>2</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="12821612" data-lat="45.565873" data-lng="-73.614918"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="12821612" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Terrain &#xE0; vendre &#xE0; Grenville-sur-la-Rouge, Laurentides, Chemin du Panorama, 15989963 - Centris.ca" itemprop="name" />
        <meta content="15989963" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/terrain~a-vendre~grenville-sur-la-rouge/15989963?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCDEDA5EDDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Terrain &#xE0; vendre &#xE0; Grenville-sur-la-Rouge, Laurentides, Chemin du Panorama, 15989963 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(15989963, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,15989963,true, &#x27;999&#x27;)" title="Afficher les photos">
                    17<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/terrain~a-vendre~grenville-sur-la-rouge/15989963?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='15989963'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">15989963</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="595000" />
                <span>595&#xA0;000 $</span><span class="desc"> &#x2B;TPS/TVQ</span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Terrain &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>Chemin du Panorama</div>
                        <div>Grenville-sur-la-Rouge</div>
                        <div>Quartier Calumet</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
                <div class="land-area">
                    <span>2 301 380 pc</span>
                </div>
</div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="15989963" data-lat="45.65366203" data-lng="-74.6380847"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="15989963" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Quadruplex &#xE0; vendre &#xE0; Sorel-Tracy, Mont&#xE9;r&#xE9;gie, 214 - 220, Rue Parenteau, 11298042 - Centris.ca" itemprop="name" />
        <meta content="11298042" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/quadruplex~a-vendre~sorel-tracy/11298042?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC2EC68ADDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Quadruplex &#xE0; vendre &#xE0; Sorel-Tracy, Mont&#xE9;r&#xE9;gie, 214 - 220, Rue Parenteau, 11298042 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(11298042, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,11298042,true, &#x27;999&#x27;)" title="Afficher les photos">
                    31<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/quadruplex~a-vendre~sorel-tracy/11298042?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='11298042'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">11298042</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="579000" />
                <span>579&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Quadruplex &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>214 - 220, Rue Parenteau</div>
                        <div>Sorel-Tracy</div>
                        <div>Quartier Sorel</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
            <div class="plex-revenue">
                <span>Rev. bruts pot. : 30 072 $</span>
            </div>
<div class='cac'>2</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="11298042" data-lat="46.02865588" data-lng="-73.08957786"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="11298042" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saint-Lambert (Mont&#xE9;r&#xE9;gie), Mont&#xE9;r&#xE9;gie, 744, boulevard Houde, 27045979 - Centris.ca" itemprop="name" />
        <meta content="27045979" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saint-lambert-monteregie/27045979?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC23B542DDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saint-Lambert (Mont&#xE9;r&#xE9;gie), Mont&#xE9;r&#xE9;gie, 744, boulevard Houde, 27045979 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(27045979, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,27045979,true, &#x27;999&#x27;)" title="Afficher les photos">
                    31<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saint-lambert-monteregie/27045979?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='27045979'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">27045979</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1179000" />
                <span>1&#xA0;179&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>744, boulevard Houde</div>
                        <div>Saint-Lambert (Mont&#xE9;r&#xE9;gie)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="27045979" data-lat="45.48920809" data-lng="-73.49696604"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="27045979" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Kazabazua, Outaouais, 40, Chemin du Lac-Danford Ouest, 24973549 - Centris.ca" itemprop="name" />
        <meta content="24973549" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~kazabazua/24973549?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC275F8EDDDDDDDDDD1&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Kazabazua, Outaouais, 40, Chemin du Lac-Danford Ouest, 24973549 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(24973549, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,24973549,true, &#x27;999&#x27;)" title="Afficher les photos">
                    53<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~kazabazua/24973549?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='24973549'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">24973549</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="689900" />
                <span>689&#xA0;900 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>40, Chemin du Lac-Danford Ouest</div>
                        <div>Kazabazua</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="24973549" data-lat="45.93904865" data-lng="-76.12249364"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="24973549" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saint-Joseph-de-Coleraine, Chaudi&#xE8;re-Appalaches, 363, Chemin du Barrage, 18881201 - Centris.ca" itemprop="name" />
        <meta content="18881201" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saint-joseph-de-coleraine/18881201?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCC17FFCDDDDDDDDDD2&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saint-Joseph-de-Coleraine, Chaudi&#xE8;re-Appalaches, 363, Chemin du Barrage, 18881201 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(18881201, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,18881201,true, &#x27;999&#x27;)" title="Afficher les photos">
                    46<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saint-joseph-de-coleraine/18881201?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='18881201'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">18881201</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="749000" />
                <span>749&#xA0;000 $</span><span class="desc"> &#x2B;TPS/TVQ</span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>363, Chemin du Barrage</div>
                        <div>Saint-Joseph-de-Coleraine</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="18881201" data-lat="45.97199801" data-lng="-71.25289283"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="18881201" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Amherst, Laurentides, 2919, Route 323 Nord, 17913277 - Centris.ca" itemprop="name" />
        <meta content="17913277" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~amherst/17913277?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC2D8BD8DDDDDDDDDD4&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Amherst, Laurentides, 2919, Route 323 Nord, 17913277 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(17913277, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,17913277,true, &#x27;999&#x27;)" title="Afficher les photos">
                    43<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~amherst/17913277?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='17913277'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">17913277</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1175000" />
                <span>1&#xA0;175&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>2919, Route 323 Nord</div>
                        <div>Amherst</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>3</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="17913277" data-lat="46.06006772" data-lng="-74.71257995"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="17913277" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Ville-Marie), Montr&#xE9;al (&#xCE;le), 1188, Rue Saint-Antoine Ouest, app. 1901, 13141445 - Centris.ca" itemprop="name" />
        <meta content="13141445" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/condo~a-vendre~montreal-ville-marie/13141445?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCC15129DDDDDDDDDDE&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Ville-Marie), Montr&#xE9;al (&#xCE;le), 1188, Rue Saint-Antoine Ouest, app. 1901, 13141445 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(13141445, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,13141445,true, &#x27;999&#x27;)" title="Afficher les photos">
                    46<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/condo~a-vendre~montreal-ville-marie/13141445?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='13141445'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">13141445</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="519000" />
                <span>519&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Condo &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>1188, Rue Saint-Antoine Ouest, app. 1901</div>
                        <div>Montr&#xE9;al (Ville-Marie)</div>
                        <div>Quartier Centre</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>1</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="13141445" data-lat="45.495727" data-lng="-73.567993"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="13141445" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saguenay (Chicoutimi), Saguenay/Lac-Saint-Jean, 459, Rue des Peupliers, 28854600 - Centris.ca" itemprop="name" />
        <meta content="28854600" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saguenay-chicoutimi/28854600?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCE75B69DDDDDDDDDDD&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saguenay (Chicoutimi), Saguenay/Lac-Saint-Jean, 459, Rue des Peupliers, 28854600 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(28854600, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,28854600,true, &#x27;999&#x27;)" title="Afficher les photos">
                    34<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saguenay-chicoutimi/28854600?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='28854600'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">28854600</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="574900" />
                <span>574&#xA0;900 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>459, Rue des Peupliers</div>
                        <div>Saguenay (Chicoutimi)</div>
                        <div>Quartier Chicoutimi</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>3</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="28854600" data-lat="48.42391135" data-lng="-71.06190751"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="28854600" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Petite-Rivi&#xE8;re-Saint-Fran&#xE7;ois, Capitale-Nationale, 30, Chemin des &#xC9;rables, 14158762 - Centris.ca" itemprop="name" />
        <meta content="14158762" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~petite-riviere-saint-francois/14158762?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCEBB7E6DDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Petite-Rivi&#xE8;re-Saint-Fran&#xE7;ois, Capitale-Nationale, 30, Chemin des &#xC9;rables, 14158762 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(14158762, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,14158762,true, &#x27;999&#x27;)" title="Afficher les photos">
                    40<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~petite-riviere-saint-francois/14158762?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='14158762'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">14158762</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1000000" />
                <span>1&#xA0;000&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>30, Chemin des &#xC9;rables</div>
                        <div>Petite-Rivi&#xE8;re-Saint-Fran&#xE7;ois</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>4</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="14158762" data-lat="47.36781766" data-lng="-70.54025976"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="14158762" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Lac-Beauport, Capitale-Nationale, 5, Chemin du Village, 26538053 - Centris.ca" itemprop="name" />
        <meta content="26538053" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~lac-beauport/26538053?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCC13078DDDDDDDDDDE&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Lac-Beauport, Capitale-Nationale, 5, Chemin du Village, 26538053 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(26538053, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,26538053,true, &#x27;999&#x27;)" title="Afficher les photos">
                    73<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~lac-beauport/26538053?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='26538053'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">26538053</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1300000" />
                <span>1&#xA0;300&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>5, Chemin du Village</div>
                        <div>Lac-Beauport</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>4</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="26538053" data-lat="46.942176" data-lng="-71.300193"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="26538053" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Quadruplex &#xE0; vendre &#xE0; Montr&#xE9;al (LaSalle), Montr&#xE9;al (&#xCE;le), 7729 - 7735, Rue Ren&#xE9;e, 13205429 - Centris.ca" itemprop="name" />
        <meta content="13205429" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/quadruplex~a-vendre~montreal-lasalle/13205429?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC259295DDDDDDDDDD1&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Quadruplex &#xE0; vendre &#xE0; Montr&#xE9;al (LaSalle), Montr&#xE9;al (&#xCE;le), 7729 - 7735, Rue Ren&#xE9;e, 13205429 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(13205429, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,13205429,true, &#x27;999&#x27;)" title="Afficher les photos">
                    54<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/quadruplex~a-vendre~montreal-lasalle/13205429?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='13205429'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">13205429</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="945000" />
                <span>945&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Quadruplex &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>7729 - 7735, Rue Ren&#xE9;e</div>
                        <div>Montr&#xE9;al (LaSalle)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
            <div class="plex-revenue">
                <span>Rev. bruts pot. : 33 540 $</span>
            </div>
<div class='cac'>2</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="13205429" data-lat="45.438906" data-lng="-73.62623"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="13205429" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Montr&#xE9;al (Ahuntsic-Cartierville), Montr&#xE9;al (&#xCE;le), 9350, Rue Foucher, 26414058 - Centris.ca" itemprop="name" />
        <meta content="26414058" itemprop="sku" />
            <div class="banner new-price">
                Nouveau prix
            </div>
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~montreal-ahuntsic-cartierville/26414058?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCC6DDC4DDDDDDDDDDF&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Montr&#xE9;al (Ahuntsic-Cartierville), Montr&#xE9;al (&#xCE;le), 9350, Rue Foucher, 26414058 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('26414058', 'Gallery');Centris.OpenNewWindow('https://my.matterport.com/show/?m=JNaRDksCzye');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(26414058, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,26414058,true, &#x27;999&#x27;)" title="Afficher les photos">
                    64<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~montreal-ahuntsic-cartierville/26414058?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='26414058'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">26414058</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1445000" />
                <span>1&#xA0;445&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>9350, Rue Foucher</div>
                        <div>Montr&#xE9;al (Ahuntsic-Cartierville)</div>
                        <div>Quartier Ahuntsic Ouest</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>3</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="26414058" data-lat="45.55065548" data-lng="-73.64816872"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="26414058" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Outremont), Montr&#xE9;al (&#xCE;le), 789, Avenue Querbes, app. 201, 9508956 - Centris.ca" itemprop="name" />
        <meta content="9508956" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/condo~a-vendre~montreal-outremont/9508956?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250D263CCECDDDDDDDDDDE&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Outremont), Montr&#xE9;al (&#xCE;le), 789, Avenue Querbes, app. 201, 9508956 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('9508956', 'Gallery');Centris.OpenNewWindow('http://www.qvcondosoutremont.com');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(9508956, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,9508956,true, &#x27;999&#x27;)" title="Afficher les photos">
                    10<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/condo~a-vendre~montreal-outremont/9508956?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='9508956'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">9508956</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="660000" />
                <span>660&#xA0;000 $</span><span class="desc"> &#x2B;TPS/TVQ</span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Condo &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>789, Avenue Querbes, app. 201</div>
                        <div>Montr&#xE9;al (Outremont)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>2</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="9508956" data-lat="45.5238633" data-lng="-73.61164649"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="9508956" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Saint-Sauveur, Laurentides, 44, Chemin de l&#x27;&#xC9;quinoxe, 11448262 - Centris.ca" itemprop="name" />
        <meta content="11448262" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~saint-sauveur/11448262?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCE432FADDDDDDDDDD4&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Saint-Sauveur, Laurentides, 44, Chemin de l&#x27;&#xC9;quinoxe, 11448262 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('11448262', 'Gallery');Centris.OpenNewWindow('https://youtu.be/YaV5JI8Mu5E');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(11448262, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,11448262,true, &#x27;999&#x27;)" title="Afficher les photos">
                    51<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~saint-sauveur/11448262?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='11448262'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">11448262</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="995000" />
                <span>995&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>44, Chemin de l&#x27;&#xC9;quinoxe</div>
                        <div>Saint-Sauveur</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>3</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="11448262" data-lat="45.86923864" data-lng="-74.24442031"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="11448262" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Ville-Marie), Montr&#xE9;al (&#xCE;le), 1002Z, Rue De La Gaucheti&#xE8;re Est, 20445768 - Centris.ca" itemprop="name" />
        <meta content="20445768" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/condo~a-vendre~montreal-ville-marie/20445768?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC29CFFCDDDDDDDDDDC&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Condo &#xE0; vendre &#xE0; Montr&#xE9;al (Ville-Marie), Montr&#xE9;al (&#xCE;le), 1002Z, Rue De La Gaucheti&#xE8;re Est, 20445768 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(20445768, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,20445768,true, &#x27;999&#x27;)" title="Afficher les photos">
                    15<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/condo~a-vendre~montreal-ville-marie/20445768?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='20445768'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">20445768</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="549000" />
                <span>549&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Condo &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>1002Z, Rue De La Gaucheti&#xE8;re Est</div>
                        <div>Montr&#xE9;al (Ville-Marie)</div>
                        <div>Quartier Centre</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>3</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="20445768" data-lat="45.515383" data-lng="-73.553701"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="20445768" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Fermette &#xE0; vendre &#xE0; Saint-Alexis-des-Monts, Mauricie, 1161Z, Rang Sacacomie, 20982118 - Centris.ca" itemprop="name" />
        <meta content="20982118" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/fermette~a-vendre~saint-alexis-des-monts/20982118?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCC41E83DDDDDDDDDDA&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Fermette &#xE0; vendre &#xE0; Saint-Alexis-des-Monts, Mauricie, 1161Z, Rang Sacacomie, 20982118 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('20982118', 'Gallery');Centris.OpenNewWindow('https://youtu.be/hJXDl8C5zeQ');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(20982118, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,20982118,true, &#x27;999&#x27;)" title="Afficher les photos">
                    32<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/fermette~a-vendre~saint-alexis-des-monts/20982118?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='20982118'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">20982118</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="595000" />
                <span>595&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Fermette &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>1161Z, Rang Sacacomie</div>
                        <div>Saint-Alexis-des-Monts</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>1</div><div class='sqft'>203 843 pc</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="20982118" data-lat="46.486914" data-lng="-73.18514"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="20982118" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Bois-des-Filion, Laurentides, 30, 38e Avenue, 21424252 - Centris.ca" itemprop="name" />
        <meta content="21424252" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~bois-des-filion/21424252?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC424A50DDDDDDDDDDB&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Bois-des-Filion, Laurentides, 30, 38e Avenue, 21424252 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(21424252, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,21424252,true, &#x27;999&#x27;)" title="Afficher les photos">
                    3<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~bois-des-filion/21424252?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='21424252'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">21424252</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="521766" />
                <span>521&#xA0;766 $</span><span class="desc"> &#x2B;TPS/TVQ</span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>30, 38e Avenue</div>
                        <div>Bois-des-Filion</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>2</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="21424252" data-lat="45.66537703" data-lng="-73.75732451"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="21424252" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Maison &#xE0; vendre &#xE0; Magog, Estrie, 511, Avenue des D&#xF4;mes, 9099691 - Centris.ca" itemprop="name" />
        <meta content="9099691" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/maison~a-vendre~magog/9099691?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DC222449DDDDDDDDDDB&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Maison &#xE0; vendre &#xE0; Magog, Estrie, 511, Avenue des D&#xF4;mes, 9099691 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button 
                    class="btn photo-btn virtual-tour" 
                    onclick="addDataLayerVirtualTour('9099691', 'Gallery');Centris.OpenNewWindow('https://www.youtube.com/watch?v=txAbwXCkrjA&feature=youtu.be&ab_channel=AgenceImmobili%C3%A8reIR');" 
                    title="Voir la visite virtuelle">
                    Visite virtuelle<i class="icon icon-visite-virtuelle-icon"></i>
                </button>
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(9099691, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,9099691,true, &#x27;999&#x27;)" title="Afficher les photos">
                    62<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/maison~a-vendre~magog/9099691?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='9099691'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">9099691</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="829000" />
                <span>829&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Maison &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>511, Avenue des D&#xF4;mes</div>
                        <div>Magog</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
<div class='cac'>4</div><div class='sdb'>4</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="9099691" data-lat="45.27304828" data-lng="-72.19285854"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="9099691" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
    <div class="property-thumbnail-item thumbnailItem col-12 col-sm-6 col-md-4 col-lg-3" itemscope itemtype="http://schema.org/Product">
        <div class="shell">
            
    <div class="thumbnail property-thumbnail-feature legacy-reset">
        <meta content="Quintuplex &#xE0; vendre &#xE0; Montr&#xE9;al (LaSalle), Montr&#xE9;al (&#xCE;le), 33 - 39, 3e Avenue, 13255042 - Centris.ca" itemprop="name" />
        <meta content="13255042" itemprop="sku" />
        <a class="property-thumbnail-summary-link" href="/fr/quintuplex~a-vendre~montreal-lasalle/13255042?view=Summary">
            <img itemprop="image" src="https://mspublic.centris.ca/media.ashx?id=ADDD250DCCCFF3DDDDDDDDDDD2&amp;t=pi&amp;w=320&amp;h=240&amp;sm=c" alt="Quintuplex &#xE0; vendre &#xE0; Montr&#xE9;al (LaSalle), Montr&#xE9;al (&#xCE;le), 33 - 39, 3e Avenue, 13255042 - Centris.ca" />
        </a>

        <div class="photo-buttons ">
                <button class="btn photo-btn" onclick="event.preventDefault();addDataLayerPhotoViewer(13255042, &#x27;Gallery&#x27;);initPhotoGallery(&#x27;fr&#x27;,13255042,true, &#x27;999&#x27;)" title="Afficher les photos">
                    10<i class="far fa-camera"></i>
                </button>
        </div>

    </div>
    <a class="a-more-detail" href="/fr/quintuplex~a-vendre~montreal-lasalle/13255042?view=Summary" data-summaryurl="SummaryUrl" data-mlsnumber='13255042'>
        <div class="description">
            <div id="MlsNumberNoStealth" style="height: 1px;">
                <p style="z-index: 0; height: 3px; color: white;">13255042</p>
            </div>
            <div class="price" itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <meta itemprop="priceCurrency" content="CAD" />
                <meta itemprop="price" content="1399000" />
                <span>1&#xA0;399&#xA0;000 $</span><span class="desc"></span>
            </div>
            <div class="location-container">
                <span class="category" itemprop="category">
                    <div>
                        Quintuplex &#xE0; vendre
                    </div>
                </span>
                <span class="address">
                        <div>33 - 39, 3e Avenue</div>
                        <div>Montr&#xE9;al (LaSalle)</div>
                </span>
            </div>
            <p class="organisation-name"></p>

            <div class="d-flex justify-content-between align-items-end bottom">
                

<div class="d-flex justify-content-start flex-wrap features">
            <div class="plex-revenue">
                <span>Rev. bruts pot. : 87 600 $</span>
            </div>
<div class='cac'>3</div><div class='sdb'>1</div></div>


                <div class="d-flex justify-content-end align-items-end thumbnail-icon">
                        <span class="ll-match-score noAnimation" data-id="13255042" data-lat="45.509505" data-lng="-73.8039"></span>
                    
<div class="legacy-reset property-favorite property-favorite-default" data-listing-id="13255042" data-inscription-mode="Result">
        <div class="property-favorite-not-login " data-toggle="popover" data-toggle-id="redirect-tooltip-favorite">
            <a class="property-favorite-button" title="Ajouter &#xE0; mes favoris">
                <i class="far fa-heart property-favorite-heart-default"></i>
            </a>
        </div>
</div>
                </div>
            </div>
        </div>
    </a>

        </div>
    </div>
